<div class="modal fade" id="add-job-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Job</h4>
      </div>
      <%= simple_form_for :job, url: job_create_path(@project.id) do |f| %>
        <div class="modal-body">
          <%= f.text_field :alias %>
          <%= f.input :starting_job, as: :boolean %>
          <%= f.hidden_field :x %>
          <%= f.hidden_field :y %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, "Add Job", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
