<h3><%= @project.name %></h3>
<%= @jobs %>
<%= @rules %>
<%= link_to 'Upload Units', new_dataset_path(@project.id) %>
<button type='button' data-target='#new-rule-modal' class='btn btn-primary' data-toggle='modal'>New Rule</button>

<%= render partial: 'flowchart' %>
<%= render 'new_rule_modal' %>
